@import '../../styles/variables';

.group-list{

    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: auto;
    width: 100%;
    border: 1px solid $color-dirtywhite; 
    box-shadow: 0 0 10px 0 $color-delimetershadow ;
    
 
   &__item{
        
        min-height: 40px;
        display: flex;
        gap: 8px;
        align-items: center;
        cursor: pointer;
        padding: 10px 10px;
        color: $color-baseblack; 
        font-size: 16px;
        font-weight: 500;
        box-shadow: $color-delimetershadow;
        border-bottom: 1px solid $color-dirtywhite;
       


        &_selected{
            background-color: rgb(182, 189, 212);
            &:hover{
                background-color: rgb(182, 189, 212)!important;
            }
        }

        &:hover{
            background-color: $color-dirtywhite;
        }
   }

   &__item-fio{
         display: flex;
         
   }

   &__item_actions{
        margin-left: auto;
         display: flex;
         gap: 8px;
         min-width: 44px;
         max-width: 44px;

        & svg {
            &:hover{
                opacity: 0.7;
            }
        }
   }
}